

.clear {clear: both;}
small {font-size: 11px; color: 5b5b5b;}
img {border: none;}
a {color: #527e19; text-decoration: none;}
a:hover {color: #000;}

#rightContent {
	width: 800px;
	margin-left:270px;
	padding: 5px;
		border-left: 0px solid #dcdcdc;
	text-align: left;
	background: #fff;
	border-radius: 10px;
}
#rightContent h3 {font-size: 20px; font-weight: normal; padding: 0; margin-left: 30px; border-bottom: 1px dashed #dcdcdc; }
.shortcutHome a{
	width: 40px;
	padding-left: 15px;
	padding-top:5px;
	padding-right:20px;
	border: 1px solid #dcdcdc;
	height: 77px;
	float: left;
	margin-right:10px;
	margin-left:10px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	
}
.shortcutHome a:hover{
	color: #5b5b5b;
	text-decoration: none;
}
.shortcutHome a:hover img{
	opacity: 1;
	color: #5b5b5b;
	padding-top: 10px;
}
.shortcutHome img {
	opacity: 0.8;
    -webkit-transition: padding-top 250ms ease-out;
	-moz-transition: padding-top 250ms ease-out;
	-o-transition: padding-top 250ms ease-out;
}
